{<<"app">>,<<"rebar3_format">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A rebar plugin for code formatting">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/overview.edoc">>,
  <<"priv/scripts/format">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/formatters/default_formatter.erl">>,
  <<"src/formatters/erlfmt_formatter.erl">>,
  <<"src/formatters/otp_formatter.erl">>,
  <<"src/formatters/sr_formatter.erl">>,<<"src/rebar3_ast_formatter.erl">>,
  <<"src/rebar3_format.app.src">>,<<"src/rebar3_format.erl">>,
  <<"src/rebar3_format_prv.erl">>,<<"src/rebar3_formatter.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/AdRoll/rebar3_format">>}]}.
{<<"name">>,<<"rebar3_format">>}.
{<<"requirements">>,
 [{<<"katana_code">>,
   [{<<"app">>,<<"katana_code">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"0.2.1">>}]}]}.
{<<"version">>,<<"0.5.0">>}.
