{<<"name">>,<<"erl_exercism">>}.
{<<"version">>,<<"0.1.2">>}.
{<<"requirements">>,
 #{<<"parse_trans">> => #{<<"app">> => <<"parse_trans">>,
     <<"optional">> => false,
     <<"requirement">> => <<"3.1.0">>}}}.
{<<"app">>,<<"erl_exercism">>}.
{<<"maintainers">>,[<<"Norbert Melzer">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"An helper library for exercisms erlang exercises">>}.
{<<"files">>,
 [<<"src/erl_exercism.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/exercism.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/exercism_parse_transform.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/NobbZ/erl_exercism">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
