{<<"app">>,<<"katana_code">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Functions useful for processing Erlang code.">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/katana_code.app.src">>,<<"src/ktn_code.erl">>,
  <<"src/ktn_dodger.erl">>,<<"src/ktn_io_string.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/inaka/katana-code">>}]}.
{<<"name">>,<<"katana_code">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.1">>}.
